<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
        <dllmap dll="csfml-audio-2.dll" target="libcsfml-audio.so"/>
        <dllmap dll="csfml-graphics-2.dll" target="libcsfml-graphics.so"/>
        <dllmap dll="csfml-network-2.dll" target="libcsfml-network.so"/>
        <dllmap dll="csfml-system-2.dll" target="libcsfml-system.so"/>
        <dllmap dll="csfml-window-2.dll" target="libcsfml-window.so"/>
        <dllmap dll="openal32.dll" target="libopenal.so"/>
        <dllmap dll="libsndfile-1.dll" target="libsndfile.so"/>
</configuration>
